<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Home</title>
</head>
<body>
    <p>Hello <%=name%></p>
    <p>What would you like to do today?</p>
    <button onclick="goToPage('/balance')">View Balance</button>
    <button onclick="goToPage('/withdraw')">Withdraw</button>
    <button onclick="goToPage('/withdraw')">Deposit</button>
    <button onclick="goToPage('/transfer')">Transfer</button>
    <button onclick="logOut()">Log Out</button>

    <script>
        function goToPage(destination) {
            window.location.href = window.location.href = window.location.pathname.replace('/home', destination);
        }
        function logOut() {
            window.location.href = '/'
        }
    </script>
</body>
</html>