<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Login</title>
</head>
<body>
    <p>Welcome!</p>
    <form id="pinForm" action="/" method="post">
        <label for="PIN">Please enter your CardID & Pin:</label><br>
        <input type="text" id="CardID" name="CardID" value=""><br>
        <input type="text" id="PIN" name="PIN" value=""><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>